.outer-container{
    width: 100%;
    display: flex;
    
    .middle-container{
        width: 60%;
        border-radius: 10px;
    }
    .inner-container{
        padding: 10px;
    }
    &.other-user{
        flex-direction: row-reverse;
    }
    .user-name{
        font-size: 1.2em;
        font-weight: bold;
    }
    .content{
        word-wrap: break-word;
    }
}